.clear {
    clear: both;
}

.header {
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: aqua;
    position: fixed;
    z-index: 9999;
    background: rgb(0, 8, 20);
    background: linear-gradient(90deg, #0aff9d 0%, #00c2ff 50%, #b800ff 100%);
    box-shadow: 0 0 25px #00f0ff;
}

.judul h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 10px;
    color: #ffffff;
    text-shadow: 0 0 10px #00eaff;
}

.navbar ul {
    float: right;
    margin-top: -22px;
    margin-right: 15px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    color: #141313;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    color: #00f7ff;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
}

.navbar ul li a:hover .header {
    background-color: black;
}


.container {
    margin: auto ;
    margin-top: 60px;
    width: 100%;
    background: #050b14;
    color: white;
}

.home {
    display: inline-block;
    margin-bottom: 20px;
}

.profile img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 65px 100px;
}

.profile img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px #00eaff);
}

.isi {
    float: right;
    width: 50%;
    margin-top: -340px;
    margin-right: 15px;
}

.isi h1 {
    font-size: 50px;
    color: #0aff9d;
    text-shadow: 0 0 15px #0aff9d;
}

.isi h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #00c2ff;
    text-shadow: 0 0 10px #00c2ff;
}

.isi p {
    font-size: 15px;
    text-align: justify;
    width: 80%;
    color: #d5d5d5;
}

.gallery {
    width: 95%;
    margin-right: 15px;
}

.gallery h1 {
    text-align: center;
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #b800ff;
    text-shadow: 0 0 15px #b800ff;
}

.gallery li img{
    width: 21%;
    height: 21%;
    border: 3px solid #7b00ff;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    color: #b800ff;
    text-shadow: 0 0 15px #b800ff;
    transition: 0.3s ease-in-out;
}

.gallery li img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #00eaff, 0 0 45px #00f7ff, 0 0 60px #7b00ff;
}

.hobby {
    width: 100%;
}

.hobby h1 {
    text-align: start;
    font-size: 80px;
    width: 50%;
    margin-top: 250px;
    margin-left: 60px;
    color: #0aff9d;
    text-shadow: 0 0 15px #0aff9d;
}

.hobby table {
    text-align: center;
    width: 50%;
    height: 50%;
    float: right;
    margin-bottom: 40px;
    margin-top: -310px;
    margin-right: 35px;
}

.hobby tr td {
    padding-bottom: 20px;
}

.hobby img {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: 3px solid #00c2ff;
    box-shadow: 0 0 20px #00c2ff;
    transition: 0.3s ease;
}

.hobby img:hover {
    transform: scale(1.07);
    box-shadow: 0 0 35px #00f0ff, 0 0 60px #7b00ff;
}

.contact {
    width: 100%;
    margin-top: 20px;
}

.contact h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #00c2ff;
    text-shadow: 0 0 12px #00c2ff;
}

.social {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: -60px;
    margin-left: 30px;
    padding-bottom: 50px;
}

.social img {
    width: 80%;
    margin: 15px;
    filter: drop-shadow(0 0 15px #00eaff);
    transition: 0.3s ease;
}

.social img:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 25px #0aff9d);
}

.form {
    float: left;
    width: 55%;
    margin-left: 30px;
}

.form table {
    width: 100%;
}

.form input,
.form textarea {
    width: 80%;      
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #0b1220;
    border: 1px solid #00c2ff;
    color: white;
    font-size: 15px;
    transition: 0.3s ease;
}

.form button {
    width: 25%;      
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #b1cbff;
    border: 1px solid #00c2ff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: 0.3s ease;
}

.form input:focus,
.form textarea:focus {
    border-color: #0aff9d;
    box-shadow: 0 0 15px #0aff9d;
}


.form textarea {
    height: 180px;
    resize: none;
}


