 h1, h2 { 
            color: blue; 
            font-size: 50px;
            font-family: "Bitcount Grid Single", system-ui;
            text-align: center;
        }
        h2 {
            color: brown;
        }
body {
    background-color: black;
}