body {
    background-color: aqua;
    font-family: Georgia;
    text-align: justify;
}
h1 {
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
}
h4 {
    text-align: right;
    font-style: italic ;
    font-weight: bold;
}
.s {
    color: darkblue;
}