html {
  scroll-padding-top: 80px;
}

body {
  padding-top: 90px;
}

.navbar {
  background-color: #080707;
}

.container svg {
  overflow: hidden;
}

.wave-svg {
  width: 100%;
  height: auto;
  display: block;
}

#about {
  background-color: #000000;
}

#hobby {
  background-color: #000000;
}

.form-control:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
