* {
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
    font-style: normal;
}

body {
    background: radial-gradient(circle at top left,rgba(0, 255, 255, 0.15),transparent 60%),
    linear-gradient(135deg, #000000 0%, #020a0a 40%, #001515 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 95%;
    height: 15%;
    background-color: aqua;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 20px rgba(0, 255, 255, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    border-radius: 6px;
}

nav h1 {
    margin-left: 10%;
    text-decoration: none;
    color: black ;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition:all 1s;
}

nav ul li a:hover img {
    filter: invert(1);
}

nav ul li a:hover img {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

nav ul li a img {
    width: 30px;
    transition: .5s;
}

nav .search {
    margin-right: 10%;
    cursor: pointer;
    z-index: 11;
}

nav .search a img {
    width: 40px;
    cursor: pointer;
    transition: .5s;
}

.nav .search-box {
    position: absolute;
    justify-content: center;
    height: 45px;
    max-width: 555px;
    width: 100%;
    left: 35%;
    border-radius: 6px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.nav.openSearch .search a img {
    transform: scale(1.5);
}

nav .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #f0faff;
    padding: 4px 10px 0 10px;
    border: #000000 solid 1px;
}

/* hamburger */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    margin-left: 10%;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    margin-left: 10%;
    transition: .5s;
}

.menu-toggle input {
    position: absolute;
    width: 50px;
    height: 30px;
    opacity: 0;
    left: -8px;
    top: -2px;
    cursor: pointer;
    z-index: 10;
}

/* hamburger animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(2.5px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: 0;
    opacity: 0;
}



/* responsive */

/* ukuran tablet */

@media screen and (max-width: 768px) {
    nav h1 {
        order: 1;
        margin-left: 5%;
    }

    nav ul {
        order: 3;
    }

    nav .search {
        order: 3;
        margin-right: 5%;
        margin-left: 5%;
    }
    .nav .search-box {
    position: absolute;
    justify-content: center;
    height: 45px;
    max-width: 420px;
    width: 100%;
    left: 19%;
    border-radius: 6px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}
}

/* ukuran handphone */

@media screen and (max-width: 576px) {
    nav h1 {
        order: 2;
        margin: auto;
    }
    nav ul {
        order: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: aqua;
        margin-top: 15%;
        left: -100%;
        transition: .5s;
        opacity: 0;
    }

    nav ul.slide {
        left: 0;
        opacity: 1;
    }

    .search {
        order: 3;
    }

    .menu-toggle {
        display: flex;
    }
    
    .nav .search-box {
    position: absolute;
    justify-content: center;
    height: 40px;
    max-width: 200px;
    width: 100%;
    left: 30%;
    border-radius: 6px;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    }

    nav ul li:hover {
        background-color: rgb(15, 180, 180);
    }
}

